$bright_teal: #6be69a;
$bright_blue: #0ac5f4;
$seafoamy: #4cd194;
$dark_grey: #444;
$grey: #999;
$light_grey: #959595;
$black: #000;
$white: #fff;
$ivory: #e8e8e8;
$burnt_orange: #ed7702;
$yellow: #ffd200;
$sky_blue: #09f;
$beige: #ccc;
$dark_beige: #a9a9a9;
